{{ define "partial/brands" }}

<section class="section brands py-5">
  <div class="container">
    <div class="row">
      
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center pb-4">We work with customers brands and startups </h3>
        </div>
      
    </div>
    <div class="row align-items-center justify-content-center">
      
      <div class="col px-3 my-2 text-center">
        
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/brands-samsumg.png" alt="images/brands-samsumg.png" width="128" height="28">


      </div>
      
      <div class="col px-3 my-2 text-center">
        
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/brands-google.png" alt="images/brands-google.png" width="86" height="28">


      </div>
      
      <div class="col px-3 my-2 text-center">
        
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/brands-adobe.png" alt="images/brands-adobe.png" width="113" height="28">


      </div>
      
      <div class="col px-3 my-2 text-center">
        
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/brands-spotify.png" alt="images/brands-spotify.png" width="96" height="28">


      </div>
      
      <div class="col px-3 my-2 text-center">
        
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/brands-dropbox.png" alt="images/brands-dropbox.png" width="145" height="28">


      </div>
      
    </div>
  </div>
</section>

{{end}}