{{ define "partial/cta" }}

<section class="section cta py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">Start your business now!</h3>
        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        
  <img class="img-fluid" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/services-web-development.png" alt="images/services-web-development.png" width="1098" height="824">


      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        
          <a class="btn btn-outline-primary px-4" href="#">Let's talk<span class="ms-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
</svg>
</span></a>
        
      </div>
    </div>
  </div>
</section>
{{ end }}