{{ define "partial/portfolio" }}

<section class="section portfolio">
  <div class="container">
   
    <div class="row portfolio-feature">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
          <img class="img-fluid" src="/assets/img/portfolio-ecommerce.png" alt="images/portfolio-ecommerce.png" width="1426" height="1425">
      </div>
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
          <p class="text-danger fw-semibold mb-2">ChurnSight</p>
        
          <h3 class="fs-1 fw-bold text-primary pb-3">We improve profitability of an eCommerce website</h3>
        
        
          <p class="text-black-61 pb-3">
          Leverage the power of machine alearning and predictive analtycs to identiy at-risk customers and take proactuive steps to retain them
          </p>
        
        <div class="">
          
            <a class="text-decoration-none me-3" href="#">See live</a>
          
            <a class="text-decoration-none me-3" href="#">Read more</a>
          
        </div>
      </div>
    </div>
    
    <div class="row portfolio-feature">
      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
  <img class="img-fluid" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/portfolio-ecommerce.png" alt="images/portfolio-ecommerce.png" width="1426" height="1425">    
      </div>

      <div class="col-12 col-xl-6 d-flex flex-column justify-content-center">
        
          <p class="text-danger fw-semibold mb-2">Portfolio Service</p>
        
        
          <h3 class="fs-1 fw-bold text-primary pb-3">We developed an eCommerce website</h3>
        
        
          <p class="text-black-61 pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sed euismod quis sit gravida pharetra sit. Cursus vel enim pretium vulputate semper sem elit magna neque. Aliquet adipisc.</p>
        
        <div class="">
          
            <a class="text-decoration-none me-3" href="#">See live</a>
          
            <a class="text-decoration-none me-3" href="#">Read more</a>
          
        </div>
      </div>
    </div>
    
  </div>
</section>
{{ end }} 