{{ define "partial/testimonial" }}
<section class="section testimonials py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12">
        
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">Testimonials</h3>
        
      </div>
    </div>
    <div class="row">
      
      <div class="col-12 col-xl-5 d-flex flex-column justify-content-center">
        
          
  <img class="img-fluid" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/testimonials-awards.png" alt="images/testimonials-awards.png" width="1892" height="1594">


        
      </div>
      <div class="col-12 col-xl-7 d-flex flex-column justify-content-center">
        <div class="pb-4">
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/testimonials-left-quote.png" alt="images/testimonials-left-quote.png" width="63" height="63">

</div>
        <div class="card d-flex flex-row align-items-start border-0 shadow p-5">
          <div class="bg-green rounded-circle size-64 me-4"></div>
          <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
        </div>
        <div class="pt-4 text-end">
  <img class="" src="https://writeonlyhugo.gitlab.io/up-business-demo/images/testimonials-right-quote.png" alt="images/testimonials-right-quote.png" width="63" height="63">

</div>
      </div>
      
    </div>
    <div class="row">
      
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            
            <div class="card-body">
              
              <div class="bg-green rounded-circle size-90 mb-4"></div>
              <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
            </div>
          </div>
        </div>
      
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            
            <div class="card-body">
              
              <div class="bg-yellow rounded-circle size-90 mb-4"></div>
              <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
            </div>
          </div>
        </div>
      
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            
            <div class="card-body">
              
              <div class="bg-red rounded-circle size-90 mb-4"></div>
              <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
            </div>
          </div>
        </div>
      
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            
            <div class="card-body">
              
              <div class="bg-purple rounded-circle size-90 mb-4"></div>
              <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
            </div>
          </div>
        </div>
      
        <div class="col-12 col-xl-4">
          <div class="card border-0 border-radius-34 p-4">
            
            <div class="card-body">
              
              <div class="bg-green rounded-circle size-90 mb-4"></div>
              <p class="card-text text-black-61">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur et pretium nunc, quis euismod et. Volutpat suspendisse sed in blandit condimentum. Sagittis nullam nec mauris, feugiat hendrerit aliquam cras. Dolor tortor gravida lobortis in ultricies enim vulputate non. Neque nibh donec quam lectus." <span class="fw-bold text-primary text-nowrap">- Anonymous Customer</span></p>
            </div>
          </div>
        </div>
      
    </div>
  </div>
</section>
{{ end }} 